 RewriteEngine On
 RewriteBase /

 RewriteCond %{THE_REQUEST} public/([^\s?]*) [NC]
 RewriteRule ^ %1 [L,NE,R=302]
 RewriteRule ^((?!public/).*)$ PHP-twig/public/$1 [L,NC]


#RewriteEngine On
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ public/index.php [L]

 